.container{
  position: relative;

    width: 305px;
    height: 305px;
 
}
.tile {
    position: absolute;
    border: 4px solid wheat;
    width: 70px;
    height: 70px;
    background-color: palevioletred;
    font-size: 60px;
    text-align: center;
    color: aliceblue;
    display: inline-block;
    cursor: pointer;
    user-select: none;
}


.btn {
    margin-bottom: 20px;
    font-size: 20px;
    color: palevioletred;
    width: 50px;
    width: 150px;
    height: 50px;
    background-color: wheat;
    border: palevioletred 3px solid;
    border-radius: 4px;
    margin-left: 82px;
    cursor: pointer;
}


p {
    font-size: 40px;
    color: goldenrod;
margin-top: 60px;
}

